@main("Stocks") {
  <label for="symbol">Ticker Symbol:</label>
  <input type="text" id="symbol" name="symbol">
  <input type="button" value="Get Price" onclick="send_symbol()">
  <div id="refresh_counter">
  </div>
  <ul id="stock_prices">
  </ul>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="/assets/javascripts/stocks.js"></script>
}

